@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-Thin.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-Thin.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-ThinItalic.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-ThinItalic.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-ThinItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-Light.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-Light.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-LightItalic.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-LightItalic.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-LightItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-Italic.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-Italic.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-Italic.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-Medium.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-Medium.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-MediumItalic.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-MediumItalic.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-MediumItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-SemiBold.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-SemiBold.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-SemiBoldItalic.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-Bold.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-Bold.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/plex_sans/IBMPlexSans-BoldItalic.woff2') format('woff2'),
         url('/fonts/plex_sans/IBMPlexSans-BoldItalic.woff') format('woff'),
         url('/fonts/plex_sans/IBMPlexSans-BoldItalic.ttf') format('truetype');
}
