{{- define "title" -}}
{{ .Title }} - {{ .Site.Title }}
{{- end -}}

{{- define "meta" -}}
<meta name="description" content="{{ .Page.Description }}">
<meta name="author" content="{{ .Site.Params.Author }}">
<meta name="theme-color" content="#2c2a2a">

<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{ .Page.Description }}" />
{{- end -}}

{{- define "banner" -}}
<h1>{{- .Title -}}</h1>
<p>
  {{ .PublishDate.Format "Jan 2, 2006" }}
</p>
{{- end -}}


{{- define "content" -}}
<div class="vertical-left">
  <article>
	{{- .Content -}}
  </article>
</div>

<div class="vertical-right wide-screen-only">
  {{- if .Params.toc -}}
  <div id="toc">
	<p class="title">Table of Contents</p>
	{{ .TableOfContents }}
  </div>
  {{- end -}}

  {{ $charCount := len $.RawContent }}
  {{- range .Scratch.Get "side-items" -}}
  <div class="item-on-the-right" style="position: absolute; top: {{ mul 100 (div (index . 2) (mul 1.1 $charCount)) }}%">
	{{- if eq "btw" (index . 0) -}}
	<span class="btw-text">By the way: </span>
	<p>{{ index . 1 | safeHTML }}</p>
	{{- else if eq "card-info" (index . 0) -}}
	<div class="card-info">
	  <span class="card-title">INFO</span>
	  {{ index . 1 | safeHTML }}
	</div>
	{{- else if eq "card-danger" (index . 0) -}}
	<div class="card-danger">
	  <span class="card-title">DANGER</span>
	  {{ index . 1 | safeHTML }}
	</div>
	{{- else if eq "card-warning" (index . 0) -}}
	<div class="card-warning">
	  <span class="card-title">WARNING</span>
	  {{ index . 1 | safeHTML }}
	</div>
	{{- end -}}
  </div>
  {{- end -}}

  <div style="position: absolute; bottom: 0">
	{{ partial "licence.html" . }}
	{{- if isset .Params "series" -}}
	<span>{{ i18n "series" }}: </span>
	<a href="/series/#{{ .Params.series }}">{{ .Params.series }}</a>
	<div class="tags">
      {{- if isset .Params "tags" -}}

      <span>{{ i18n "tags" }}: </span>
      {{- range $i, $e := .Params.tags -}}
      {{- if $i -}}<span>/</span>{{- end -}}
      <a href="/tags/#{{ . }}">{{- . -}}</a>
      {{- end -}}

      {{- end -}}
	</div>
	{{- end -}}
  </div>

</div>

{{- end -}}

{{- define "stylesheet" -}}
{{- if isset .Params "math" -}}
{{ partial "katex.html" . }}
{{- end -}}
{{- end }}

{{- define "banner-image" -}}
{{- if isset .Params "img" -}}
<img id="banner-image" src='{{ .Params.img }}' alt="Banner Image">
{{- end -}}
{{- end -}}
