.item-on-the-right
  font-size: 11pt
  //border-left: 1px solid red
  //border-bottom: 1px solid #ccc
  .btw-text
    font-weight: 600
    font-family: $serifFonts
  .content
    margin: 1rem
    text-indent: 0
  p
    // For using shortcodes that are already rendered (%)
    display: inline
  .card-right
    width: 100%
  .card-danger
    color: #721c24
    @media (prefers-color-scheme: dark)
      color: #f8d7da
  .card-warning
    color: #856404
    @media (prefers-color-scheme: dark)
      color: #fff3cd
  .card-info
    color: #d1ecf1
    @media (prefers-color-scheme: dark)
      color: #d1ecf1

